.BasePage {
  text-align: center;
    .initial-survey-img {
        margin-top: 10vh;
        width: 80vw;
      }
    
      .initial-survey-header {
        font-size: 1.3em;
        margin: 2vh auto;
        width: 80vw;
      }
    
      .initial-survey-paragraph {
        font-weight: 600;
        margin: 3vw auto;
        width: 80vw;
      }
}